<launch>
  <arg name="original_map" default="$(find mushr_sim)/maps/real-floor0.yaml"/>
  <arg name="mppi_map"     default="$(arg original_map)"/>
  <arg name="planning_map" default="$(arg original_map)"/>

  <include file="$(find m3pi)/launch/MapServer.launch">
    <arg name="original_map" default="$(arg original_map)"/>
    <arg name="mppi_map"     default="$(arg mppi_map)"/>
    <arg name="planning_map" default="$(arg planning_map)"/>
  </include>

  <arg name="scan_topic"        default="/sim/scan"/>
  <arg name="odometry_topic"    default="/vesc/odom"/>
  <arg name="laser_ray_step"    default="18"/>
  <arg name="max_particles"     default="4000"/>
  <arg name="motion_model"      default="kinematic" />
  <arg name="max_range_meters"  default="5.6" />
  <arg name="resample_type"     default="low_variance" />
  <arg name="max_viz_particles" default="2000"/>
  <arg name="exclude_max_range_rays" default="true"/>
	
  <node pkg="ta_lab1" type="ParticleFilter.py" name="Particle_filter" output="screen" respawn="true">
    <param name="scan_topic"             value="$(arg scan_topic)"/>
    <param name="odometry_topic"         value="$(arg odometry_topic)"/>
    <param name="laser_ray_step"         value="$(arg laser_ray_step)"/>
    <param name="max_particles"          value="$(arg max_particles)"/>
    <param name="motion_model"           value="$(arg motion_model)" />
    <param name="max_range_meters"       value="$(arg max_range_meters)" />
    <param name="resample_type"          value="$(arg resample_type)" />
    <param name="max_viz_particles"      value="$(arg max_viz_particles)"/>
    <param name="exclude_max_range_rays" value="$(arg exclude_max_range_rays)" />
  </node>
</launch>
