<launch>
  <arg name="host_name" default="flexo" />
  <arg name="car_name" defualt="louiseii" />
  <arg name="map_name" default="$(find racecar)/maps/basement_hallways_5cm.yml" />

  <!-- This argument determines if the code will run on the sim or on the real car -->
  <!-- Use "racecar-uw" to run on the real car -->
  <arg name="racecar_version"          default="racecar-sim" />
  <arg name="sim_machine"              default="flexo" />

  <machine name="$(arg host_name)"
           address="flexo.personalrobotics.cs.washington.edu"
           default="false"
           user="michajoh"
           timeout="1.0" />
           <!--env-loader="/home/michajoh/catkin_ws/src/mushr_rhc/sim-env-loader.sh"/> -->
  <machine name="$(arg car_name)"
           address="172.16.77.06"
           default="true"
           user="nvidia"
           timeout="5.0"
           env-loader="/home/nvidia/ros-env-loaders/$(arg host_name)-env-loader.sh" />

  <!-- Calls telop.launch which will run our simulator -->
  <include file="$(find racecar)/launch/teleop.launch" >
    <arg name="racecar_version" value="$(arg racecar_version)"/>
  </include>

  <!-- include the actual mushr code -->
  <incldue file="$(find mushr_rhc)/launch/tl.launch">
    <arg name="machine", value="$(arg car_name)" />
  </include>

  <!-- include the map server -->
  <include file="$(find mushr_rhc)/launch/mapserver.launch">
    <arg name="map_name" value="$(arg name_name)" />
  </include>

</launch>
