<launch>
    <arg name="tg" default="dispersion" />

    <!-- 
    <include file="$(find mushr_rhc_ros)/launch/localize.launch"/>
    -->

    <arg name="map" default="$(find mushr_rhc_ros)/maps/real-floor0.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)" />

    <node pkg="mushr_rhc_ros" type="rhcnode.py" name="rhcontroller" output="screen">
        <env name="RHC_USE_CUDA" value="0" />

        <param name="cache_dir" value="~/mushr_rhc_cache/" />

        <param name="use_sim_pose" value="1" />
        <param name="use_odom_pose" value="0" />

        <rosparam file="$(find mushr_rhc_ros)/launch/params/trajgen/$(arg tg).yaml" />
    </node>
</launch>
