<launch>
    <arg name="T" default="13" />
    <arg name="K" default="121" />
    <arg name="desired_speed" default="2.5" />
    <arg name="permissible_region_dir" default="~/permissible_region/" />

    <arg name="map" default="$(find mushr_rhc_ros)/maps/real-floor0.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)" />

    <node pkg="mushr_rhc_ros" type="main.py" name="rhcontroller" output="screen">
        <env name="RHC_USE_CUDA" value="0" />

        <param name="T" value="$(arg T)" />
        <param name="K" value="$(arg K)" />
        <param name="trajgen/desired_speed" value="$(arg desired_speed)" />
        <param name="permissible_region_dir" value="$(arg permissible_region_dir)" />

        <param name="use_sim_pose" value="0" />
        <param name="use_odom_pose" value="1" />
    </node>
</launch>
