variables:
  azure_tmpdir: $(Agent.TempDirectory)
  devtools: $(azure_tmpdir)/devtools
  devtools_bin: $(devtools)/bin
  test_dir: mushr_rhc_ros/test

pool:
  vmImage: 'ubuntu-16.04'

container: prlmushr/mushr:xenial

# Get CI tooling and setup user account
steps:
- bash: |
    set -ex
    # Get CI tooling
    git clone https://github.com/prl-mushr/devtools.git $(devtools)
    # Setup user account
    $(devtools)/setup_user/setup_user.sh
    source ~/.bashrc

# Run linters and tests
- task: Bash@3
  inputs:
    script: $(devtools_bin)/mushr_lint_flake8 .
    targetType: inline
    noRc: false
    noProfile: false
  condition: succeededOrFailed()
  displayName: Run flake8
- task: Bash@3
  inputs:
    script: $(devtools_bin)/mushr_lint_isort . --check
    targetType: inline
    noRc: false
    noProfile: false
  condition: succeededOrFailed()
  displayName: Run isort
- task: Bash@3
  inputs:
    script: $(devtools_bin)/mushr_lint_black . --check
    targetType: inline
    noRc: false
    noProfile: false
  condition: succeededOrFailed()
  displayName: Run black
- task: Bash@3
  inputs:
    script: python -m nose2 -v --pretty-assert -s $(test_dir)
    targetType: inline
    noRc: false
    noProfile: false
  condition: succeededOrFailed()
  displayName: Run nose2
