jobs:
- job:
  displayName: From environment.yml
  pool:
    vmImage: 'ubuntu-16.04'
  
  variables:
    azure_tmpdir: $(Agent.TempDirectory)
    devtools: $(azure_tmpdir)/devtools
    test_dir: mushr_rhc_ros/test

  container: prlmushr/mushr:xenial

  steps:
  - script: git clone https://github.com/prl-mushr/devtools.git $(devtools)
    displayName: Get devtools

  - bash: |
      sudo apt-get update
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
      bash miniconda.sh -b -p $HOME/miniconda
      echo "##vso[task.prependpath]$HOME/miniconda/bin"
      conda config --set always_yes yes --set changeps1 no
      conda update -q conda
    displayName: 'Setup conda/install dependencies'

  - bash: |
      conda env create --file $(devtools)/lint-env.yaml
    displayName: Create Anaconda environment

  - bash: |
      source activate lint
      $(devtools)/bin/mushr_lint_flake8 .
    displayName: Run flake8
    condition: succeededOrFailed()

  - bash: |
      source activate lint
      $(devtools)/bin/mushr_lint_isort . --check
    displayName: Run isort
    condition: succeededOrFailed()

  - bash: |
      source activate lint
      $(devtools)/bin/mushr_lint_black . --check
    displayName: Run black
    condition: succeededOrFailed()

  - bash: |
      source activate lint
      sudo rosdep init
      rosdep update
      source /opt/ros/"$ROS_DISTRO"/setup.bash

      python -m nose2 -v --pretty-assert -s $(test_dir)
    displayName: Run tests (nose2)
    condition: succeededOrFailed()
