<launch>
    <!--<arg name="tg" default="mppi" /> -->
    <arg name="tg" default="tl" />
    <arg name="model" default="gpr" />
    <arg name="map" default="$(find mushr_mujoco_ros)/maps/empty.yaml" />
    <arg name="c2g_map" default="$(arg map)" />

    <include file="$(find mushr_rhc_ros)/launch/mapserver.launch">
        <arg name="map" default="$(arg map)" />
        <arg name="c2g_map" default="$(arg c2g_map)" />
    </include>

    <node pkg="mushr_rhc_ros" type="rhcblock.py" name="rhcontroller" output="screen">
        <env name="RHC_USE_CUDA" value="0" />

        <param name="model_name" value="$(arg model)" />
        <param name="cost_fn_name" value="block_push" />
        <param name="trajgen_name" value="$(arg tg)" />

        <param name="x_gpr_file" value="$(find push_data_collector)/x_gpr_jan_26.pickle" />
        <param name="y_gpr_file" value="$(find push_data_collector)/y_gpr_jan_26.pickle" />
        <param name="theta_gpr_file" value="$(find push_data_collector)/t_gpr_jan_26.pickle" />

        <rosparam ns="/pusher_measures" file="$(find push_data_collector)/params/pusher_measures.yaml" />

        <rosparam file="$(find mushr_rhc_ros)/launch/sim/params_block_sim_gpr.yaml" />
		<rosparam file="$(find mushr_rhc_ros)/launch/params/all_params.yaml" />
        <rosparam file="$(find mushr_rhc_ros)/launch/sim/params.yaml" />
    </node>
</launch>
