<launch>
    <arg name="tg" default="tl" />
    <arg name="car_name" default="car" />
    <arg name="map_server" default="0" />

    <group ns="$(arg car_name)">
        <node pkg="mushr_rhc" type="rhcnode.py" name="rhcontroller" output="screen">
            <env name="RHC_USE_CUDA" value="0" />

            <param name="inferred_pose_t" value="particle_filter/inferred_pose" />
            <param name="car_name" value="$(arg car_name)" />

            <rosparam file="$(find mushr_rhc)/config/trajgen/$(arg tg).yaml" />
            <rosparam file="$(find mushr_rhc)/config/config.yaml" />
            <rosparam file="$(find mushr_rhc)/config/real.yaml" />
        </node>
    </group>
</launch>
