<launch>
    <arg name="car1_name" default="car1" />
    <arg name="car_pose" default="/car_pose" />
    <arg name="map_server" default="1" />

    <group if="$(arg map_server)">
        <include file="$(find mushr_sim)/launch/map_server.launch" />
    </group>

    <include file="$(find mushr_sim)/launch/single_car.launch">
        <arg name="car_name" value="" />
        <arg name="racecar_version" value="racecar-uw-nano" />
        <arg name="racecar_color" value="" />
    </include>

    <arg name="controller" default="MPC" />
    <node pkg="mushr_rhc" type="main.py" name="controller" output="screen">
        <param name="type" value="$(arg controller)" />

        <param name="pose_cb" value="car_pose" />
        <param name="use_sim_pose" value="1" />
        <param name="use_odom_pose" value="0" />
    </node>
</launch>
