
<launch>
    <arg name="out_path" />
    <arg name="trial_name" />

    <rosparam command="dump" file="$(arg out_path)/$(arg trial_name)-params.yaml" />

    <node pkg="rosbag" type="record" name="debug_recorder"
        args="record -O $(arg out_path)/$(arg trial_name).bag
        /initialpose
        /move_base_simple/goal
        /pf/inferred_pose
        /pf/viz/laserpose
        /pf/viz/particles
        /rhcontroller/traj_chosen
        /scan" />
</launch>
