<launch>
    <arg name="tg" default="dispersion" />

    <include file="$(find mushr_rhc_ros)/launch/mapserver.launch" />

    <node pkg="mushr_rhc_ros" type="rhcdebug.py" name="rhcdebug" output="screen">
        <env name="RHC_USE_CUDA" value="0" />

        <param name="cache_dir" value="~/mushr_rhc_cache/" />

        <rosparam file="$(find mushr_rhc_ros)/launch/params/trajgen/$(arg tg).yaml" />
        <rosparam file="$(find mushr_rhc_ros)/launch/all_params.yaml" />
        <rosparam file="$(find mushr_rhc_ros)/launch/debug/params.yaml" />
        <rosparam file="$(find mushr_rhc_ros)/launch/debug/sim.yaml" />
    </node>
</launch>
